html {
  position: relative;
}

body {
  margin-top: 30px;
  margin-bottom: 100px;
}

.jumbotron img {
  width: 200px;
  border: 8px solid #34495e;
}

section hr {
  width: 250px;
  border-top: 4px solid #34495e;
}

section h2 {
  font-family: "Montserrat", sans-serif;
  color: #34495e;
}

section {
  min-height: 600px;
}

section p {
  font-family: "Montserrat", sans-serif;
}

.about label {
  font-family: "Montserrat", sans-serif;
}

.portfolio {
  background-color: #eee;
}

.contact {
  min-height: 800px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
}

footer p {
  color: #aaa;
  font-size: 0.9em;
  padding-top: 30px;
}

.skill {
  display: inline;
}

.tools img {
  width: 80px;
  margin-right: 20px;
}

.quote {
  margin-top: 120px;
}

.tools p {
  font-size: 28px;
  color: #aaa;
}

.tools label {
  font-style: italic;
  color: gray;
}

.portfolioku {
  min-height: 420px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.portfolioku h3 {
  font-family: "Montserrat", sans-serif;
  color: #1e8bc3;
}

.portfolioku i {
  color: #1e8bc3;
  margin-right: 10px;
}

footer i {
  color: white;
  width: 15px;
  margin-left: 20px;
}
